<h1>Categories</h1>

<div id="categories">
  <% if @categories.empty?%>
    <h3>No Category Available</h3>
  <% else %>
    <% @categories.each do |category| %>
      <h2><%= link_to category.name, category_path(category.id)%></h2>
      <img src=<%= category.icon %> />
      <p>$<%= category.expenses.sum(:amount)%></p>
      <%= button_to 'Delete', category, method: :delete, data: { turbo: false } %>
    <% end %>
  </div>
<%end %>
<br>
<%= link_to "Add New Category", new_category_path %>
<%= render partial: 'shared/logout'%>