<%= render partial: 'shared/navbar', locals: { title: @category.name } %>

<p style="color: green"><%= notice %></p>

<div>
  <% @category_expense.each do |expense| %>
    <p>Name: <%= expense.name %></p>
    <p>Amount: $<%= expense.amount %></p>
  <% end %>

  <%= button_to "Delete this category", @category, method: :delete %>

  <%= link_to 'Add New Transaction', new_category_expense_path(@category) %>
</div>
